@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  /* background-color: #ec7979; */
  padding: 2rem 12rem;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;


}
.main{
  background-color: #414141;
}
.message{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat";
}
.message > img {
  width: 10vh;
}
header {
  /* position: fixed; */
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 45px;
}
header > div{
  gap: 4rem;
  align-items: center;
  display: flex;
}
header > div > a{
  font-size: 20px;
  font-family: "Montserrat";
  text-decoration: underline;
}
header > div > img{
  width: 3rem;
  border-radius: 50%;
}
.footer{
  margin-top: auto;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0rem;
  /* background-color: #efefef; */
  text-align: center;
  /* bottom: 0%; */
  /* top: 85%; */
}
.footer > div{
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 4rem;
 background-color: #ffffff;
 /* position: absolute; */
 bottom: 0%;
 width: 100%;
 border-top: 1px solid gray;
 padding: 0rem 12rem;
 font-family: "Montserrat";

}
a{
  color: #000000;
}
.footer > div > a{
  text-decoration: underline;
}
.footer > div > span{
  text-align: center;
}
.footer > div > div{
  display: flex;
  gap: 1.5rem;
}


.drop{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 4rem;
}
.note {
  position: relative;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  width: 24%;
  min-width: 300px;
  height: fit-content;
  float: left;
  font-family: "Montserrat";
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.note:hover{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.cross{
  background-color: transparent;
  position: absolute;
  right: 2%;
  top: 7%;
  color: #3f3f3f;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
.hidden{
display: none;
}
.note button {
  
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 2px;
  outline: none;
  font-size: 1.2em;
  font-family: "Montserrat";
  font-weight: 400;
  resize: none;
}
.add{
  display: none;
  position: absolute;
  right: 2%;
  bottom: 5%;
  background: #080808;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
  cursor: pointer;
  outline: none;
  justify-content: center;
  display: flex;
  align-items: center;
}
.hide{
  display: none;
}
form.create-note button:hover{
  background: #414141;


}
